body {
  background-color: #eeeeee !important;
}

input:focus,
button:focus {
    outline: none !important;
}

input[type="text"] {
    width: 100px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px  solid grey !important
}

input[type="text"].item {
    width: 250px;
}

button {
    background-color: white;
    color: grey;
    border: none;
    margin: 2px !important;
    padding: 2px 9px;
    border-radius: 2px !important;
}

button.active {
    background-color: #d50000;
    color: white;
}

button.active:hover {
    background-color: #d50000;
    color: white;
}

button:hover {
    background-color: grey;
    color: white;
}

tr:first-child th {
    padding-left: 0 !important;
}

thead tr:nth-child(2) {
    background-color: rgb(15, 15, 15);
    color: white;
    text-transform: uppercase;
}
